.button {
    @include ripple;

    background: $color-button;
    border: .2rem solid transparent;
    border-radius: $border-radius;
    box-shadow: 0 .2rem .5rem 0 rgba($color-base-black, .26);
    color: $color-button-text;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .075em;
    padding: 1.2rem 2.2rem 1.1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: background 0.2s ease;
    text-transform: uppercase;
    vertical-align: middle;

    .fa, .mdi, .iconify {
        margin-left: -.4rem;
        margin-right: 1.4rem;
    }

    &:hover {
        background: darken($color-button, 4%);
        color: $color-button-text;
    }

    &--alt {
        background: none;
        border: .2rem solid $color-button;
        box-shadow: none;
        color: $color-button;

        &:hover {
            background: darken($color-base-white, 4%);
            color: $color-button;
        }
    }

    &--text {
        background: none;
        border: .2rem solid transparent;
        box-shadow: none;
        color: $color-button;

        &:hover {
            background: darken($color-base-white, 4%);
            color: $color-button;
        }
    }

    &--compact {
        padding: .8rem 1.6rem .7rem;
        font-size: 80%;
    }

    &--icon {
        padding: .8rem;

        .fa, .mdi, .iconify {
            margin: 0;
        }
    }
}
