.chip {
    @include ripple;
    $self: &;

    appearance: none;
    background: $color-chip;
    border-radius: $chips-border-radius;
    cursor: pointer;
    display: inline-flex;
    margin: 4px;
    padding: .7rem 1.2rem;
    will-change: transform,opacity;
    min-height: 32px;
    text-decoration: none;
    transition: background .25s ease;

    &:hover {
        background: darken($color-chip, 8%);
    }

    &--primary {
        background: $color-primary;

        &:hover {
            background: darken($color-primary, 8%);
        }

        #{$self}__text, #{$self}__icon {
            color: $color-base-white;
        }
    }

    &--alt {
        background: rgba($color-primary, .21);

        &:hover {
            background: rgba($color-primary, .32);
        }

        #{$self}__text, #{$self}__icon {
            color: $color-primary;
        }
    }

    &__text {
        color: $color-chip-text;
        font-size: 1.4rem;
        line-height: 1.4em;
        font-weight: 400;
        letter-spacing: .025rem;
    }

    &__icon {
        color: $color-chip-text;
        display: inline-block;
        vertical-align: middle;
        margin-right: .4rem;
        line-height: 1.1;

        .mdi {
            line-height: 1.4rem;
        }
    }

    &__filter {
        color: $color-chip-text;
        display: inline-block;
        vertical-align: middle;
        margin-left: .4rem;
        line-height: 1.25;
        opacity: .44;
        transition: opacity .25s ease;

        &:hover {
            color: $color-chip-text;
            opacity: 1;
        }

        &:before {
            font: normal normal normal 1.6rem/1 "Material Design Icons";
            content: mdi('close-circle');
        }
    }
}