@use '../setup/variables' as *;
@use '../setup/mixins' as *;

.select-field {
    @include text-field;

    &:after {
        border-top: 5px solid $color-text;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: 28px;
        right: 9px;
        pointer-events: none;
        z-index: 0;
    }

    &__label {
        transform: translate(0,0) scale(0.75);
        cursor: pointer;
    }

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        //appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    &.field--outline &__label {
        background: $color-base-white;
        padding: 0 6px;
        transform: translate(6px, -5px) scale(0.75);
    }
}