.select-field {
    @extend .text-field;

    &:after {
        font: normal normal normal 2.4rem/1 "Material Design Icons";
        content: mdi('menu-down');
        position: absolute;
        top: 18px;
        right: 4px;
    }

    &__label {
        @extend .text-field__label;

        transform: translate(0,0) scale(0.75);
        cursor: pointer;
    }

    &__input {
        @extend .text-field__input;

        -webkit-appearance: none;
        -moz-appearance: none;
        //appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    &.field--outline &__label {
        background: $color-base-white;
        padding: 0 6px;
        transform: translate(6px, -5px) scale(0.75);
    }
}