.animating-open {
    display: inline-block;
    transform: scale(.8);
    transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1);
    opacity: 0;
    overflow-y: hidden;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.bg {
    &--primary {
        background: $color-primary;
    }

    &--secondary {
        background: $color-secondary;
    }

    &--success {
        background: lighten($color-success, 10%);
    }

    &--error {
        background: lighten($color-error, 10%);
    }
}

.color {
    &--primary {
        color: $color-primary;
    }

    &--secondary {
        color: $color-secondary;
    }

    &--success {
        color: $color-success;
    }

    &--error {
        color: $color-error;
    }
}

.margin-top {
    margin-top: $margin-size;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-top: $margin-size;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-top: $margin-size;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-top: $margin-size;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-top: $margin-size;
        }
    }
}

.margin-top--2x {
    margin-top: $margin-size * 2;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-top: $margin-size * 2;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-top: $margin-size * 2;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-top: $margin-size * 2;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-top: $margin-size * 2;
        }
    }
}

.margin-bottom {
    margin-bottom: $margin-size;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-bottom: $margin-size;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-bottom: $margin-size;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-bottom: $margin-size;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-bottom: $margin-size;
        }
    }
}

.margin-bottom--2x {
    margin-bottom: $margin-size * 2;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-bottom: $margin-size * 2;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-bottom: $margin-size * 2;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-bottom: $margin-size * 2;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-bottom: $margin-size * 2;
        }
    }
}

.hidden {
    display: none;
}