.animating-open {
    display: inline-block;
    transform: scale(.8);
    transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1);
    opacity: 0;
    overflow-y: hidden;
}

.margin-top {
    margin-top: 30px;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-top: 30px;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-top: 30px;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-top: 30px;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-top: 30px;
        }
    }
}

.margin-bottom {
    margin-bottom: 30px;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-bottom: 30px;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-bottom: 30px;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-bottom: 30px;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-bottom: 30px;
        }
    }
}

.margin-bottom--2x {
    margin-bottom: 60px;

    &--xs {
        @media (min-width: $screen-xs) {
            margin-bottom: 60px;
        }
    }

    &--sm {
        @media (min-width: $screen-sm-min) {
            margin-bottom: 60px;
        }
    }

    &--md {
        @media (min-width: $screen-md-min) {
            margin-bottom: 60px;
        }
    }

    &--lg {
        @media (min-width: $screen-lg-min) {
            margin-bottom: 60px;
        }
    }
}

.hidden {
    display: none;
}