@use 'sass:map';
@use '../setup/variables';
@use '../elements/button';

$app-bar: (
        "background": var(--color-base-white),
        "border": rgba(variables.$color-border-light, .7),
        "color": variables.$color-text-light,
        "padding": .8rem 1.2rem,
        "height": 6.2rem,
        "title": (
                "font-size": 2rem,
        ),
        "prominent": (
                "height": 12.8rem,
        ),
        "dense": (
                "height": 5.4rem,
                "padding": .2rem .4rem,
        ),
        "icon": (
                "font-size": 2.4rem,
        ),
) !default;

@mixin app-bar {
    $self: &;
    background: map.get($app-bar, "background");
    border-bottom: .1rem solid map.get($app-bar, "border");
    color: map.get($app-bar, "color");
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: map.get($app-bar, "padding");
    height: map.get($app-bar, "height");
    will-change: top;
    z-index: 19;

    &--prominent {
        height: map.get($app-bar, "prominent", "height");
        align-items: flex-start;

        #{$self}__title {
            align-self: flex-end;
        }
    }

    &--dense {
        height: map.get($app-bar, "dense", "height");
        padding: map.get($app-bar, "dense", "padding");
    }

    &__nav-toggle {
        @include button.button;
        @include button.button--text;
        @include button.button--icon;

        border-radius: 50%;
        font-size: 2.4rem;
        color: map.get($app-bar, "color");
        padding: 9px;

        &:hover {
            color: map.get($app-bar, "color");
            filter: brightness(96%);
        }
    }

    &__icon {
        font-size: 2.4rem;
        margin-left: .66em;
    }

    &__title {
        font-size: map.get($app-bar, "title", "font-size");
        font-weight: 700;
        line-height: 1.4;
        margin-left: 1em;
    }

    &__actions {
        margin-left: auto;

        form {
            display: inline-block;
        }
    }

    .button {
        color: rgba(map.get($app-bar, "color"), .82);
        padding: .9rem;

        &.button--icon {
            border-radius: 50%;
        }

        .mdi, .iconify {
            font-size: map.get($app-bar, "icon", "font-size");
            line-height: 1;
        }

        &:hover {
            color: map.get($app-bar, "color");
            filter: brightness(96%);
        }
    }

    .menu__list {
        left: auto;
        right: 0;
        transform-origin: top right;
    }
}

.app-bar {
    @include app-bar;
}

@mixin with-app-bar {
    padding-top: map.get($app-bar, "height");

    &--prominent {
        padding-top: map.get($app-bar, "prominent", "height");
    }

    &--dense {
        padding-top: map.get($app-bar, "dense", "height");
    }
}

.with-app-bar {
    @include with-app-bar;
}