@use '../setup/variables';
@use '../setup/mixins';

@mixin select-field {
    @include mixins.input-field;

    &:after {
        border-top: .3125em solid var(--color-text);
        border-left: .3125em solid transparent;
        border-right: .3125em solid transparent;
        border-bottom: none;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: 1.75em;
        right: .5625em;
        pointer-events: none;
        z-index: 0;
    }

    &__label {
        transform: translate(0, 0) scale(.75);
        cursor: pointer;
    }

    &__input {
        appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    &.field--outline &__label {
        background: variables.$color-base-white;
        padding: 0 .375em;
        transform: translate(.375em, -.3125em) scale(.75);
    }
}

.select-field {
    @include select-field;
}