@use 'sass:map';
@use '../setup/variables';
@use '../setup/mixins';

$switch: (
        "size": 1.6rem,
        "active": variables.$color-primary,
        "inactive": #fafafa,
) !default;

@mixin switch {
    font-size: map.get($switch, "size");
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: .5rem;

    .framed & {
        max-width: 30rem;
    }

    &__label {
        margin: 0;
    }

    & &__input {
        appearance: none;
        background: none;
        border: none;
        box-sizing: content-box;
        cursor: pointer;
        display: inline-block;
        width: 2.45em;
        height: .875em;
        padding: .75em;
        margin-left: auto;
        position: relative;

        &:before {
            background: darken(map.get($switch, "inactive"), 14%);
            border-radius: .5em;
            content: "";
            position: absolute;
            top: .75em;
            left: .75em;
            right: .75em;
            bottom: .75em;
            transition: background .15s cubic-bezier(0, 0, .2, 1);
        }

        &:checked:before {
            background-color: lighten(map.get($switch, "active"), 18%);
        }

        &:after {
            background: map.get($switch, "inactive");
            border-radius: 50%;
            box-shadow: 0 .2rem .1rem -.1rem rgb(variables.$color-base-black, .2), 0 .1rem .1rem 0 rgb(variables.$color-base-black, .14), 0 .1rem .3rem 0 rgb(variables.$color-base-black, .12);
            content: "";
            display: block;
            width: 1.25em;
            height: 1.25em;
            transition: background .15s ease, transform .2s cubic-bezier(0, 0, .2, 1);
            position: absolute;
            top: 50%;
            left: .75em;
            transform: translateY(-50%);
            z-index: 1;
        }

        &:checked:after {
            background-color: map.get($switch, "active");
            transform: translate(1.2em, -50%);
        }

        &:disabled {
            opacity: .45;
        }
    }
}

.switch {
    @include switch;
}