.grid {
    @include grid-container;
    //@include grid-collapse;

    &--visual [class^="col"] {
        background: #ddd;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 6px;
        margin-bottom: 10px;
    }

    .col {
        &__lg {
            @include grid-column(12, $neat-grid);

            @media (min-width: $screen-lg-min) {
                @include twelve-columns($neat-grid);
            }
        }
        &__md {
            @include grid-column(12, $neat-grid);

            @media (min-width: $screen-md-min) {
                @include twelve-columns($neat-grid);
            }
        }
        &__sm {
            @include grid-column(12, $neat-grid);

            @media (min-width: $screen-sm-min) {
                @include twelve-columns($neat-grid);
            }
        }
        &__xs {
            @include grid-column(12, $neat-grid);

            @media (min-width: $screen-xs) {
                @include twelve-columns($neat-grid);
            }
        }
    }
}