.menu {
    $self: &;
    display: inline-block;
    position: relative;

    &__toggle {

    }

    &__list {
        background: $color-base-white;
        border-radius: 2px;
        box-shadow: 0 3px 1px -2px rgba($color-base-black, .2),0 2px 2px 0 rgba($color-base-black, .14),0 1px 5px 0 rgba($color-base-black, .12);
        display: inline-block;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        margin: 0;
        padding: 8px 0;
        min-width: 170px;
        max-width: calc(100vw - 32px);
        max-height: 0;
        white-space: nowrap;
        opacity: 0;
        overflow-x: hidden;
        will-change: transform,opacity;
        transform-origin: top left;
        transform: scale(.8);
        transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1), max-height 0s linear .22s;
        overflow-y: hidden;
        z-index: 4;

        &#{$self}--open {
            display: inline-block;
            opacity: 1;
            transform: scale(1);
            overflow-y: auto;
            max-height: calc(100vh - 32px);
            transition: opacity .03s linear,transform .12s cubic-bezier(0,0,.2,1);
        }

        &-item {
            font-size: 1.6rem;
            font-weight: 400;
            display: flex;
            color: rgba($color-base-black, .87);
            height: 48px;
            align-items: center;
            overflow: hidden;
            padding: 0;
            position: relative;

            a, span {
                @include ripple;

                color: inherit;
                display: flex;
                width: 100%;
                height: 100%;
                padding: 0 16px;
                align-items: center;

                &:hover {
                    background: rgba($color-base-black, .04);
                }

                &:active, &:focus {
                    background: rgba($color-base-black, .12);
                }
            }
        }

        &-divider {
            border: none;
            border-bottom: 1px solid rgba($color-base-black, .12);
            height: 0;
            margin: 0;
        }
    }
}