table {
    $self: &;
    background: $color-table;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

    body > & {
        margin: 5px;
    }

    tr {
        height: 56px;
    }

    th, td {
        padding: 4px 56px 4px 24px;
        border-bottom: 1px solid $color-table-border;

        .button {
            vertical-align: middle;
        }
    }

    th {
        color: rgba($color-table-text, 0.54);
        font-size: 1.2rem;
        font-weight: 500;

        a {
            color: inherit;
        }

        i {
            margin-right: 8px;
        }
    }

    td {
        color: $color-table-text;
        font-size: 1.3rem;
        font-weight: 400;
    }

    &.table--compact {
        tr {
            height: 44px;
        }

        th, td {
            padding: 4px 0 4px 24px;

            .button {
                padding: 4px 6px;
            }

            &:last-of-type {
                padding-right: 24px;
            }
        }
    }
}

.data-table {
    $self: &;

    &__head th {
        position: relative;
    }

    &__selection {
        background: $color-table;
        color: $color-primary;
        font-size: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 4px 56px 4px 24px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.15s ease, z-index 0s ease 0.15s;

        &:before {
            background: $color-table-selection;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        #{$self}--checked & {
            opacity: 1;
            z-index: 3;
            transition: opacity 0.15s ease;
        }
    }

    &__action {
        color: $color-link;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__buttons {
        .button--icon.button--text {
            border-radius: 50%;
            font-size: 2.4rem;
            color: $color-icon;
            padding: 6px 10px;
        }
    }
}