@use 'sass:map';
@use '../setup/variables';
@use '../setup/mixins';

.app-bar {
    $self: &;
    background: map.get(variables.$app-bar, "background");
    border-bottom: .1rem solid map.get(variables.$app-bar, "border");
    color: map.get(variables.$app-bar, "color");
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: map.get(variables.$app-bar, "padding");
    height: map.get(variables.$app-bar, "height");
    will-change: top;
    z-index: 19;

    &--prominent {
        height: map.get(variables.$app-bar, "prominent", "height");
        align-items: flex-start;

        #{$self}__title {
            align-self: flex-end;
        }
    }

    &--dense {
        height: map.get(variables.$app-bar, "dense", "height");
        padding: map.get(variables.$app-bar, "dense", "padding");
    }

    &__nav-toggle {
        @include mixins.button;
        @include mixins.button--text;
        @include mixins.button--icon;

        border-radius: 50%;
        font-size: 2.4rem;
        color: map.get(variables.$app-bar, "color");
        padding: 9px;

        &:hover {
            background: darken(map.get(variables.$app-bar, "background"), 4%);
            color: map.get(variables.$app-bar, "color");
        }
    }

    &__icon {
        font-size: 2.4rem;
        margin-left: .66em;
    }

    &__title {
        font-size: map.get(variables.$app-bar, "title", "font-size");
        font-weight: 700;
        line-height: 1.4;
        margin-left: 1em;
    }

    &__actions {
        margin-left: auto;

        form {
            display: inline-block;
        }
    }

    .button {
        color: rgba(map.get(variables.$app-bar, "color"), .82);
        padding: .9rem;

        &.button--icon {
            border-radius: 50%;
        }

        .mdi, .iconify {
            font-size: map.get(variables.$app-bar, "icon", "font-size");
            line-height: 1;
        }

        &:hover {
            background: darken(map.get(variables.$app-bar, "background"), 4%);
            color: map.get(variables.$app-bar, "color");
        }
    }

    .menu__list {
        left: auto;
        right: 0;
        transform-origin: top right;
    }
}

.with-app-bar {
    padding-top: map.get(variables.$app-bar, "height");

    &--prominent {
        padding-top: map.get(variables.$app-bar, "prominent", "height");
    }

    &--dense {
        padding-top: map.get(variables.$app-bar, "dense", "height");
    }
}