@use 'sass:map';
@use '../setup/variables';
@use '../setup/mixins';

.fab {
    $self: &;

    position: fixed;
    right: 3rem;
    bottom: 3rem;
    transform: translate3d(0, 0, 0);
    will-change: transform, opacity;
    z-index: 9;

    @media(max-width: variables.$screen-sm-max) {
        right: 2rem;
        bottom: 2rem;
    }

    .framed & {
        display: inline-block;
        float: right;
        position: relative;
        margin-top: 18rem;
    }

    &--center {
        right: 50%;
        transform: translateX(50%);
    }

    &--menu {
        &:before {
            background: map.get(variables.$fab, "background");
            border-radius: 50%;
            cursor: pointer;
            content: url('#{map.get(variables.$fab, "icon")}');
            color: map.get(variables.$fab, "color");
            display: flex;
            justify-content: center;
            align-items: center;
            height: $fab-size;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 11;
        }

        &:hover:before, &:focus:before {
            opacity: 0;
            z-index: 9;
        }
    }

    &__button {
        @include ripple;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: map.get(variables.$fab, "background");
        border: none;
        border-radius: 50%;
        box-shadow: 0 .5rem .5rem -.3rem rgba(variables.$color-base-black, .2), 0 .8rem 1rem .1rem rgba(variables.$color-base-black, .14), 0 .3rem 1.4rem .2rem rgba(variables.$color-base-black, .12);
        cursor: pointer;
        color: map.get(variables.$fab, "color");
        display: inline-flex;
        font-size: 2.4rem;
        width: map.get(variables.$fab, "size");
        height: map.get(variables.$fab, "size");
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transition: background 0.2s ease;

        &:hover {
            background: lighten(map.get(variables.$fab, "background"), 8%);
            color: map.get(variables.$fab, "color");
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 0;
        position: absolute;
        bottom: map.get(variables.$fab, "size");
        right: .8rem;
        min-width: 20rem;
        text-align: right;
        opacity: 0;
        overflow: hidden;
        transform: translateY(4rem);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .3s cubic-bezier(.4, 0, .2, 1), max-height 0s linear .3s;

        &-item {
            display: inline-block;
            margin-top: .8rem;
        }
    }

    &:hover &__list, &:focus &__list {
        padding: 0 0 1rem 0;
        max-height: 100rem;
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .3s cubic-bezier(.4, 0, .2, 1);
    }

    &__text {
        background: map.get(variables.$fab, "text", "background");
        border: none;
        border-radius: .2rem;
        box-shadow: 0 .2rem .5rem 0 rgba(variables.$color-base-black, .26);
        font-size: 1.4rem;
        line-height: 1;
        color: map.get(variables.$fab, "text", "color");
        padding: map.get(variables.$fab, "text", "padding");
        display: inline-block;
        vertical-align: middle;

        + #{$self}__icon {
            margin-left: 1.8rem;
        }
    }

    &__icon {
        @include mixins.ripple;

        background: map.get(variables.$fab, "icon", "background");
        box-shadow: 0 1px 6px rgba($color-base-black, .16), 0 3px 10px rgba($color-base-black, .16);
        border: none;
        border-radius: 50%;
        color: map.get(variables.$fab, "icon", "color");
        display: inline-flex;
        width: map.get(variables.$fab, "icon", "size");
        height: map.get(variables.$fab, "icon", "size");
        position: relative;
        justify-content: center;
        align-items: center;
        transition: background .2s ease;

        &:hover {
            background: lighten(map.get(variables.$fab, "icon", "background"), 8%);
        }
    }
}
