/* ---------------------------------------------- //
 * Colors
// ---------------------------------------------- */
$color-primary:                   #F37748 !default;
$color-secondary:                 #696969 !default;

$color-base-white:                #fff !default;
$color-base-light:                #f4f4f4 !default;
$color-base-black:                #000 !default;

$color-text:                      #333 !default;
$color-link:                      #007bff !default;
$color-success:                   #28a745 !default;
$color-error:                     #f44336 !default;


/* ---------------------------------------------- //
 * Style settings
// ---------------------------------------------- */
$border-radius:                   .8rem !default;
$login-image:                     "https://picsum.photos/1920/1080/?random" !default;
$margin-size:                     3rem !default;

$app-bar: (
    "background": $color-base-white,
    "border": rgba(#e0e0e0, .7),
    "color": $color-text,
    "padding": .8rem 1.2rem,
    "height": 6.2rem,
    "title": (
        "font-size": 2rem,
    ),
    "prominent": (
        "height": 12.8rem,
    ),
    "dense": (
        "height": 5.4rem,
        "padding": .2rem .4rem,
    ),
    "icon": (
        "font-size": 2.4rem,
    ),
) !default;

$button: (
    "background": $color-primary,
    "border-radius": .25em,
    "color": $color-base-white,
    "font-size": 1.6rem,
    "padding": .75em 1.375em .6875em,
    "compact": (
        "font-size": 80%,
        "padding": .625em 1.25em .5468em,
    )
) !default;

$checkbox: (
    "size": 1.6rem,
    "active": $color-primary,
    "inactive": #757575,
    "check": $color-base-white,
) !default;

$chip: (
    "background": #e0e0e0,
    "background-primary": $color-primary,
    "border-radius": 1.2em,
    "color": rgba($color-base-black, .87),
    "color-primary": $color-base-white,
    "font-size": 1.4rem,
    "padding": .5em .857em,
    "height": 2em,
    "icon-font-size": 1.6rem,
) !default;

$drawer: (
    "background": $color-primary,
    "color": $color-base-white,
    "border": #e0e0e0,
    "width": 26rem,
    "image": "/src/assets/img/logo.svg",
    "header": (
        "background": $color-primary,
        "color": $color-base-white,
        "height": 6.2rem,
        "image": url("/src/assets/img/logo.svg") no-repeat 1em / auto 65%,
        "padding": .8rem 1.6rem .8rem 7.2rem,
    ),
    "compact": (
        "width": 8rem,
        "header": (
            "height": 6.2rem,
            "padding": .8rem 1.6rem,
        ),
    ),
    "dark": (
        "background": $color-secondary,
        "color": $color-base-white,
    ),
    "list": (
        "font-size": 1.4rem,
    ),
) !default;

$headings: (
    "color": #212529,
    "h1": 4.2rem,
    "h2": 3.4rem,
    "h3": 2.8rem,
    "h4": 2.2rem,
    "h5": 1.8rem,
    "h6": 1.6rem,
) !default;

$icon: (
    "color": #6d6d6d,
) !default;

$pagination: (
    "background": $color-primary,
    "border-radius": .225em,
    "color": $color-base-white,
    "color-nav": $color-base-black,
    "font-size": 1.4rem,
    "width": 3.571em,
    "height": 2.575em,
) !default;

$radio: (
    "size": 1.6rem,
    "active": $color-primary,
    "inactive": #757575,
) !default;

$input-field: (
    "color": $color-text,
    "font-size": 1.6rem,
    "label": rgba($color-base-black, .54),
    "inactive": #8a8a8a,
    "active": $color-primary,
    "fill": darken($color-base-white, 6%),
    "helper": rgba($color-base-black, 0.54),
    "error": #f44336,
    "disabled": (
        "background": #f9f9f9,
        "color": lighten($color-text, 30%),
    ),
) !default;

$card: (
    "background": $color-base-white,
    "color": rgba($color-base-black,.54),
    "font-size": 1.4rem,
    "padding": 1.6rem,
    "title": (
        "color": $color-base-black,
        "font-size": 2rem,
    ),
    "subtitle": (
        "color": rgba($color-base-black, .65),
        "font-size": 1.4rem,
    ),
    "button": (
        "color": rgba($color-base-black, .65),
        "font-size": 1.4rem,
    ),
) !default;

$expansion-panel: (
    "background": $color-base-white,
    "color": rgba($color-base-black,.54),
) !default;

$fab: (
    "background": $color-primary,
    "color": $color-base-white,
    "menu-icon": "../img/dots-vertical.svg",
    "size": 5.6rem,
    "text": (
        "background": $color-base-white,
        "color": $color-text,
        "padding": .4rem .6rem .3rem,
    ),
    "icon": (
        "background": $color-primary,
        "color": $color-base-white,
        "size": 4rem,
    ),
) !default;

$list: (
    "background": $color-base-white,
    "border": #e0e0e0,
    "color": rgba($color-base-black, .87),
    "font-size": 1.6rem,
    "height": 4.8rem,
    "padding": 1.5rem 1.6rem,
    "compact": (
        "font-size": 1.4rem,
        "height": 3.6rem,
    ),
    "secondary": (
        "color": rgba($color-base-black, .54),
        "font-size": 1.4rem,
    ),
    "graphic": (
        "color": rgba($color-base-black, .38),
        "font-size": 2.4rem,
        "size": 2.4rem,
    ),
    "meta": (
        "color": rgba($color-base-black, .38),
        "font-size": 2.4rem,
    ),
    "divider": rgba($color-base-black, .12),
) !default;

$menu: (
    "background": $color-base-white,
    "font-size": 1.6rem,
    "border-radius": .2rem,
    "color": $color-base-black,
) !default;

$form: (
    "background": $color-base-white,
    "sizes": (
        "s": 40rem,
        "m": 80rem,
        "l": 120rem,
    ),
) !default;

$tab: (
    "label": (
        "border": #e0e0e0,
        "border-active": $color-primary,
    ),
    "border": $color-primary,
    "chip": (
        "background": $color-primary,
        "color": $color-base-white,
        "font-size": 1.4rem,
    ),
) !default;

$table: (
    "background": $color-base-white,
    "border": #e0e0e0,
    "color": $color-base-black,
    "font-size": 1.3rem,
    "padding": .4rem 5.6rem .4rem 2.4rem,
    "height": 5.6rem,
    "head": (
        "font-size": 1.2rem,
        "color": rgba($color-base-black, .54),
    ),
    "foot": (
        "font-size": 1.2rem,
    ),
    "compact": (
        "height": 4.4rem,
        "padding": .4rem 0 .4rem 2.4rem,
    ),
    "data-table": (
        "selection": $color-primary,
        "action": $color-primary,
    ),
    "responsive": (
        "head-width": 35%,
        "body-width": 65%,
        "height": 3.9rem,
        "padding": .8rem 1.8rem,
    ),
) !default;

$switch: (
        "size": 1.6rem,
        "active": $color-primary,
        "inactive": #fafafa,
) !default;

/* ---------------------------------------------- //
 * Font
// ---------------------------------------------- */
$font-primary:                    'Noto Sans', sans-serif !default;
$font-size:                       1.6rem !default;
$line-height:                     1.4em !default;
$mdi-full:                        false !default;


/* ---------------------------------------------- //
 * Responsive
/* ---------------------------------------------- */

// breakpoints
$screen-xs:                       480px;
$screen-sm-min:                   $screen-xs + 1;
$screen-sm-max:                   767px;
$screen-md-min:                   $screen-sm-max + 1;
$screen-md-max:                   1023px;
$screen-lg-min:                   $screen-md-max + 1;
$screen-lg-max:                   1170px;
$screen-xl:                       1171px;

// desktop grid
$grid-desktop-columns: 12;
$grid-desktop-sideMargin: 40px;
$grid-desktop-gutter: 20px;
$grid-desktop-breakpoint: $screen-xl;

// tablet grid
$grid-tablet-columns: 12;
$grid-tablet-sideMargin: 40px;
$grid-tablet-gutter: 20px;
$grid-tablet-breakpoint: $screen-lg-max;

// mobile grid
$grid-mobile-columns: 4;
$grid-mobile-sideMargin: 32px;
$grid-mobile-gutter: 20px;
$grid-mobile-breakpoint: $screen-sm-max;