/* ---------------------------------------------- //
 * Colors
// ---------------------------------------------- */
$color-primary:                   #F37748 !default;
$color-secondary:                 #429EA6 !default;

$color-base-white:                #fff !default;
$color-base-light:                #ededed !default;
$color-base-black:                #000 !default;

$color-button:                    $color-primary !default;
$color-button-text:               $color-base-white !default;
$color-facebook: 				  #3b5998 !default;
$color-youtube: 				  #e52d27 !default;
$color-twitter: 				  #55acee !default;

$border-radius:                   3px !default;


/* ---------------------------------------------- //
 * Neat
/* ---------------------------------------------- */
// grid setup
$max-width:                       1200px;
$grid-columns:                    12;

// breakpoints
$screen-xs:                       480px;
$screen-sm:                       768px;
$screen-md:                       1023px;
$screen-lg-min:                   1024px;
$screen-lg-max:                   1170px;
$screen-xl:                       1171px;

// helper grid
$visual-grid:                     false;
$visual-grid-color:               #eee;
$visual-grid-index:               front; // back / front
$visual-grid-opacity:             0.4;
