/* ---------------------------------------------- //
 * Colors
// ---------------------------------------------- */
$color_brand:                     #1283a8;

$color_base_white:                #fff;
$color_base_light:                #ededed;
$color_base_black:                #000;

$color_facebook: 				  #3b5998;
$color_youtube: 				  #e52d27;
$color_twitter: 				  #55acee;


/* ---------------------------------------------- //
 * Neat
/* ---------------------------------------------- */
// grid setup
$max-width:                       1200px;
$grid-columns:                    12;

// breakpoints
$screen-xs:                       480px;
$screen-sm:                       768px;
$screen-md:                       1023px;
$screen-lg-min:                   1024px;
$screen-lg-max:                   1170px;
$screen-xl:                       1171px;

// helper grid
$visual-grid:                     false;
$visual-grid-color:               #eee;
$visual-grid-index:               front; // back / front
$visual-grid-opacity:             0.4;
