.drawer {
    $self: &;
    background: $color-drawer;
    color: $color-drawer-text;
    width: 240px;
    //overflow: hidden;

    &-scroll-lock {
        overflow: hidden;
    }

    &--temporary, &--persistent {
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 64px);
        max-width: 320px;
        height: 100%;
        opacity: .0001;
        transform: translateX(-100%);
        z-index: 21;

        #{$self}__drawer {
            width: 100%;
            box-shadow: 0 8px 10px -5px rgba($color-base-black, .2),0 16px 24px 2px rgba($color-base-black, .14),0 6px 30px 5px rgba($color-base-black, .12);
        }

        #{$self}__label {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 16px;
            right: -16px;
        }

        #{$self}__antiSelect {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            visibility: hidden;
            z-index: 22;
        }
    }

    &--persistent {
        transition: transform .2s ease, opacity 0s ease .2s;

        #{$self}__drawer {
            box-shadow: none;
            border-right: 1px solid $color-drawer-border;
        }

        &#{$self}--open {
            opacity: 1;
            transform: translateX(0);
            transition: transform .25s ease;
        }
    }

    &--permanent {
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 64px);
        max-width: 320px;
        height: 100%;
        opacity: 1;
        transform: translateX(0);
        z-index: 21;

        #{$self}__drawer {
            width: 100%;
            border-right: 1px solid $color-drawer-border;
        }

        + .main {
            margin-left: 320px;

            .app-bar {
                left: 320px;
            }
        }
    }

    &--compact {
        max-width: 240px;
    }

    &__bg {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        opacity: 0.001;
        transform: translateZ(0);
        visibility: hidden;
    }

    &__noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__drawer {
        background: $color-drawer;
        height: 100%;

        &#{$self}--dark {
            background: $color-secondary;
            color: $color-base-white;

            .list__item, .list__item-graphic, .list__item-meta, .list__item-header, .list__item-secondary-text {
                color: $color-base-white;
            }
        }
    }

    &__header {
        background: $drawer-background;
        background-color: $color-drawer-header;
        color: $color-drawer-header-text;
        display: flex;
        align-items: flex-end;
        min-height: 135px;
        padding: 16px;

        #{$self}--compact & {
            background-position: 95%;
            background-size: auto 65%;
            min-height: 62px;
            padding: 8px 16px;
            align-items: center;
        }
    }

    &__content {
        max-height: calc(100vh - 135px);
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;

        .drawer--compact & {
            max-height: calc(100vh - 62px);
        }
    }

    .list {
        background: transparent;
        padding: 0;
        width: 100%;

        &--bottom {
            align-self: flex-end;
        }

        &__item {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}

.persistent--open, .permanent--open {
    overflow-x: hidden;

    .main {
        margin-left: 320px;

        .app-bar {
            left: 320px;
        }
    }

    .drawer--compact + .main {
        margin-left: 240px;

        .app-bar {
            left: 240px;
        }
    }
}

.permanent--open .app-bar__nav-toggle {
    display: none;
}