@use 'sass:map';
@use '../setup/variables';
@use '../setup/mixins';
@use '../vendor/bourbon';
@use '../vendor/neat';

.form {
    padding: 0;
    max-width: 100%;

    &--card {
        background: map.get(variables.$form, "background");
        box-shadow: 0 .1rem .5rem 0 rgba(variables.$color-base-black, .2), 0 .2rem .2rem 0 rgba(variables.$color-base-black, .14), 0 .3rem .1rem -.2rem rgba(variables.$color-base-black, .12);
        padding: 3rem;
    }

    &--s {
        width: map.get(variables.$form, "sizes", "s");
    }

    &--m {
        width: map.get(variables.$form, "sizes", "m");
    }

    &--l {
        width: map.get(variables.$form, "sizes", "l");
    }

    &--inline {
        display: inline-block;
    }

    .text-field, .password-field, .select-field, .textarea-field, .number-field {
        width: 100%;
    }

    &--submitted {
        input[type="submit"], button[type="submit"] {
            opacity: .7;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}