/* ---------------------------------------------- //
 * Colors
// ---------------------------------------------- */
$color-primary:                   #F37748 !default;
$color-secondary:                 #696969 !default;

$color-base-white:                #fff !default;
$color-base-light:                #f4f4f4 !default;
$color-base-black:                #000 !default;
$color-base-dark:                 #1D211D !default;

$color-border-light:              #e0e0e0 !default;
$color-border-dark:               #333733 !default;

$color-text-light:                #333 !default;
$color-text-dark:                 #f0f0f0 !default;
$color-link:                      #007bff !default;
$color-success:                   #28a745 !default;
$color-error:                     #f44336 !default;

:root:not(.dark-mode) {
    --color-base: #{$color-base-light};
    --color-base-white: #{$color-base-white};
    --color-base-black: #{$color-base-black};
    --color-border: #{$color-border-light};
    --color-text: #{$color-text-light};
}

:root.dark-mode {
    --color-base: #{$color-base-dark};
    --color-base-white: #{$color-base-black};
    --color-base-black: #{$color-base-white};
    --color-border: #{$color-border-dark};
    --color-text: #{$color-text-dark};
}

/* ---------------------------------------------- //
 * Style settings
// ---------------------------------------------- */
$border-radius:                   .8rem !default;
$login-image:                     "https://picsum.photos/1920/1080/?random" !default;
$margin-size:                     3rem !default;

$headings: (
    "color": #212529,
    "h1": 3.2rem,
    "h2": 2.8rem,
    "h3": 2.6rem,
    "h4": 2.2rem,
    "h5": 1.8rem,
    "h6": 1.6rem,
) !default;

$icon: (
    "color": #6d6d6d,
) !default;

$input-field: (
    "color": $color-text-light,
    "font-size": 1.6rem,
    "label": rgba($color-base-black, .54),
    "inactive": #8a8a8a,
    "active": $color-primary,
    "fill": darken($color-base-white, 6%),
    "helper": rgba($color-base-black, 0.54),
    "error": #f44336,
    "disabled": (
        "background": #f9f9f9,
        "color": lighten($color-text-light, 30%),
    ),
) !default;

/* ---------------------------------------------- //
 * Font
// ---------------------------------------------- */
$font-primary:                    'Noto Sans', sans-serif !default;
$font-size:                       1.6rem !default;
$line-height:                     1.4em !default;
$mdi-full:                        false !default;


/* ---------------------------------------------- //
 * Responsive
/* ---------------------------------------------- */

// breakpoints
$screen-xs:                       480px;
$screen-sm-min:                   $screen-xs + 1;
$screen-sm-max:                   767px;
$screen-md-min:                   $screen-sm-max + 1;
$screen-md-max:                   1023px;
$screen-lg-min:                   $screen-md-max + 1;
$screen-lg-max:                   1170px;
$screen-xl:                       1171px;

// desktop grid
$grid-desktop-columns: 12;
$grid-desktop-sideMargin: 60px;
$grid-desktop-gutter: 30px;
$grid-desktop-breakpoint: $screen-xl;

// tablet grid
$grid-tablet-columns: 12;
$grid-tablet-sideMargin: 60px;
$grid-tablet-gutter: 30px;
$grid-tablet-breakpoint: $screen-lg-max;

// mobile grid
$grid-mobile-columns: 4;
$grid-mobile-sideMargin: 46px;
$grid-mobile-gutter: 30px;
$grid-mobile-breakpoint: $screen-sm-max;